body {
  background-image:url('nyan.gif');
  background-size:100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
}

h1 {
  position: fixed;
  top: calc(50% - 24px);
  left: calc(50% - 186px);
  color: palevioletred;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 10;
}


